<div class="container-fluid gray hidden-sm hidden-xs">
	<div class="row">

		<div class="col-md-3">
			<div class="client-image-container">
				<img src="{{site.data.settings.images.client_headshot_path }}" alt="{{site.data.settings.client.company}}" class="client-image" />
			</div>
			<div class="contact-text"><strong>Tammie Pickard</strong><br>
			CEO, P.A.
			</div>
		</div>
		<div class="col-md-3">
			<div class="client-image-container">
				<img src="{{site.data.settings.images.client_headshot_path2 }}" alt="{{site.data.settings.client.company}}" class="client-image" />
			</div>
			<div class="contact-text"><strong>Christy DeFilippo</strong><br>
			Realtor
			</div>
		</div>
		<div class="col-md-3">
			<div class="client-image-container">
				<img src="{{site.data.settings.images.client_headshot_path3 }}" alt="{{site.data.settings.client.company}}" class="client-image" />
			</div>
			<div class="contact-text"><strong>Kim Kelley</strong><br>
			Realtor
			</div>
		</div>
		<div class="col-md-3">
			<div class="client-image-container">
				<img src="{{site.data.settings.images.client_headshot_path4 }}" alt="{{site.data.settings.client.company}}" class="client-image" />
			</div>
			<div class="contact-text"><strong>Nicole Stroup</strong><br>
			Realtor<br>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="about-container">
			<p class="about-text">{{site.data.settings.client.about_markdown}}</p>
		</div>
	</div>
</div>
